@{
    ViewBag.Title = "Home Page";
}
<p>

</p>
<div></div>
<div class="jumbotron">
    <p class="lead">Customer App Dashboard</p>
    <div class="row">
        <div class="col-md-4">
            <h2>Customer Info</h2>
            <p>
                Recent Customer Added :John(McDonald)
            </p>
            <p>@Html.ActionLink("See more", "Index", "Company") &raquo;</p>
        </div>
        <div class="col-md-4">
            <h2>Products Info</h2>
            <p>
                Recent Products Added :PetroleumProducts
            </p>
            <p>@Html.ActionLink("See more", "Index", "Products") &raquo;</p>
        </div>
        <div class="col-md-4">
            <h2>User Info</h2>
            <p>
                Recent Users Added :John(McDonald)
            </p>
            <p>@Html.ActionLink("See more", "Index", "UsersInfo") &raquo;</p>
        </div>
    </div>
</div>
<p class="lead">
    <i>
        A business without customers is like a car without an engine: it's going nowhere. Serving your customers well is the crux of any business, and your ability to deliver on what you promise your customers is what differentiates you from your competitors.

        Just like servicing a car engine, you'll need to the right tools for the job. A good customer service app can mean the difference between an excellent customer experience, and a level of service that grinds your business to a halt - you don't want to end up on the next list of customer service horror stories!
    </i>
</p>
